<dl class="accordion" data-accordion>
  <!-- Title Tasks -->
  <dd class="accordion-navigation">
    <a href="#titletasks" class="accordion-title">Titles</a>
    <div id="titletasks" class="content">
      <li><a href="#">Task</a></li>
      <li><a href="#">Task</a></li>
      <li><a href="#">Task</a></li>
    </div>
  </dd>
  <!-- Cover Tasks -->
  <dd class="accordion-navigation">
    <a href="#covertasks" class="accordion-title">Covers</a>
    <div id="covertasks" class="content">
      <li><a href="#">Task</a></li>
      <li><a href="#">Task</a></li>
      <li><a href="#">Task</a></li>
    </div>
  </dd>
  <!-- Description Tasks -->
  <dd class="accordion-navigation">
    <a href="#desctasks" class="accordion-title">Descriptions</a>
    <div id="desctasks" class="content">
      <li><a href="#">Task</a></li>
      <li><a href="#">Task</a></li>
      <li><a href="#">Task</a></li>
    </div>
  </dd>
  <!-- Classification Tasks -->
  <dd class="accordion-navigation">
    <a href="#classtasks" class="accordion-title">Classifications</a>
    <div id="classtasks" class="content">
      <li><a href="#">Task</a></li>
      <li><a href="#">Task</a></li>
      <li><a href="#">Task</a></li>
    </div>
  </dd>
  <!-- Random Task -->
  <dd class="accordion-navigation">
    <a href="#" class="accordion-title">Surprise Me</a>
  </dd>
  <!-- Heavy Duty Tasks -->
  <dd class="accordion-navigation">
    <a href="#" class="accordion-title">Read A Book</a>
  </dd>
</dl>
