<!-- Logo -->
<nav class="top-bar docs-bar" data-topbar="">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Reanimator</a></h1>
    </li>
  </ul>
  <!-- Dropdown Menu -->
  <section class="top-bar-section">
    <ul class="right">
      <li class="has-dropdown not-click">
        <a href="#" class="">Tasks</a>
        <ul class="dropdown">
          <li>
            <a href="#">Titles</a>
          </li>
          <li>
            <a href="#">Covers</a>
          </li>
          <li>
            <a href="#">Descriptions</a>
          </li>
          <li>
            <a href="#">Classifications</a>
          </li>
          <li>
            <a href="#">Read a Book!</a>
          </li>
        </ul>
      </li>
      <li class="divider"></li>
      <!-- Sign In Button -->
      <li class="has-form">
        <%= render "partials/signinbutton" %>
      </li>
    </ul>
  </section>
</nav>
