<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <!-- Logo -->
      <h1><a href="#">Reanimator</a></h1>
    </li>
    <li class="left-off-canvas-toggle toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>
  <!-- Dropdown Menu -->
  <section class="top-bar-section">
    <ul class="right">
      <li class="has-dropdown not-click">
        <a href="#">Tasks</a>
        <ul class="dropdown">
          <%= render "partials/nav_accordion" %>
        </ul>
      </li>
      <!-- Sign In Button -->
      <li class="session-button"><%= session_btn %></li>
    </ul>
  </section>
</nav>
