<div class="clearfix book-match row">
  <div class="left book small-12 medium-6 large-6">
    
    <%= render question_constructor[:subject] %>
  </div>

  <% if question_constructor.include? :reference %>
    <div class="right book small-12 medium-6 large-6">
      <%= render question_constructor[:reference] %>
    </div>
  <% end %>
</div>
