<div class="clearfix book-match row">
  <div class="left book small-12 medium-6 large-6">
    <%= render construct.subject %>
  </div>

  <% if construct.has? :references %>
    <div class="right book small-12 medium-6 large-6">
      <%= render construct.references %>
    </div>
  <% end %>

  <div class="icon-nav clearfix">
    <div class="left">
      <%= render 'constructs/gutenberg_books/icon_bar', gutenberg_book: construct.subject %>
    </div>

    <div class="right">
      <%= render 'constructs/oclc_books/icon_bar', :oclc_book => construct.references %>
    </div>
  </div>
</div>
