<div class="root intro">
<h1 class="rotate-header">What if
  <span class="rotate-wrap">
    <span id="authors1">
      Shakespeare
    </span>
  </span> were lost?
</h1>

<div id="about">
  <h2>About Reanimator</h2>
  <h4>In an effort to breathe life back into the forgotten and unorganized archives hosted at <a href="http://www.gutenberg.org/">Project Gutenberg</a>, the <a href="www.nypl.org">New York Public Library</a> seeks the help of it's gracious army of librarians to help make these free books usable to the public.<br><br>

  Along the way, you'll undoubtedly stumble upon some treasures lost to time, and you'll have the power to reintroduce to these books to the world.
  You'll earn points for your contributions which will become visible on our Leaderboard.<br><br>

  Thank you for your help.
</h4>
</div>

<h1 class="rotate-header">What if you found the next
  <span class="rotate-wrap">
    <span id="authors2">Austen
    </span>
  </span>?
</h1>
<div>
