<div class="root intro">
<h1>What if <span class="rotatewrap"><span id="authors1" class="animated">Shakespeare</span></span> were lost?</h1><br /><br />
<h1>What if you found the next <span id="authors2" class="animated">Austen</span></h1>
<div>
