fieldset legend {
  background: transparent;
}

div.question.panel {
  background-color: rgba(255,255,255, 0.4);
  margin: 0 auto;
  width: 75%;
}

label.button.question {
  background: rgba(0,0,100, 0.6);
  width: 90%;
  margin: 1px auto;
  border: 2px solid #FFFFFF;
  border-radius: 5%;
  font-size: 1.2rem;
}

.main h2 {
  color: rgba(255,255,255, 0.9);
}

.main h4 {
  color: rgba(0,0,100, 0.9);
  font-size: 1.8rem;
}
