// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-match {
  margin-bottom: 1rem;

  .book {
    margin: 1.2rem 0 0 0;
    // padding: 1rem;
    // width: 50%;
  }
}

.oclc-description {
  text-align: justify;
}